/* FORMATAÇÃO */
* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background2.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-left: -2rem;
}

/* Class*/
.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.animation {
  animation: rotation 15s infinite linear;
}

/* MEDIA QUERIES */
@media (min-width: 800px) {
  /* Desktop version */
  body {
    background: url(/images/desktopMe.svg) no-repeat center/cover, black;
    margin-top: 0;
  }

  #desktopOnly {
    width: 5rem;
    height: 10rem;
    margin-bottom: auto;
    position: absolute;
    z-index: 1;
    align-items: center;
    /* background: url(/images/quebra.svg) no-repeat bottom,
      url(/images/faixaMe.svg) no-repeat center/cover; */
  }

  #desktopOnly > img {
    margin: auto;
  }

  #desktopOnly span {
    margin-left: auto;
    margin-right: auto;
  }

  main {
    width: 360px;
    height: 540px;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  }

  .container {
    margin-top: -130px;
    text-align: center;
    color: var(--gray);
  }
}

@media only screen and (max-width: 900px) {
  #desktopOnly {
    display: none;
  }
}
